.DS_Store
dev/*
*egg-info
*__pycache__*
temp_*
temp_repos/
*.traj
*.log
*.out
*.err
*.stru
*.cif
*.json
*.yaml
!config.yaml
!config_dp.yaml
!examples/**/config.yaml
!examples/**/config_dp.yaml
!examples/**/*.stru
!examples/**/*.traj
!examples/**/*.cif
!tests/data/**
*pytest_cache*
temp_repos/abacus-develop
